openapi: 3.0.3
info:
  title: S&P Capital IQ Authentication Financial Data API
  description: The S&P Capital IQ API provides programmatic access to comprehensive global financial data including fundamental financials, valuations, pricing, credit ratings, capital structure, and reference data. All requests use Bearer token authentication with tokens valid for 3600 seconds. Communication uses HTTPS on port 443 with 256-bit encryption.
  version: v3
  contact:
    name: S&P Global Market Intelligence Support
    url: https://www.marketplace.spglobal.com
  license:
    name: Commercial
    url: https://www.spglobal.com/marketintelligence/en/campaigns/terms-of-use
servers:
- url: https://api-ciq.marketintelligence.spglobal.com/gdsapi/rest
  description: S&P Capital IQ REST API
security:
- BearerAuth: []
tags:
- name: Financial Data
  description: Retrieve fundamental financial data for companies
paths:
  /v3/clientservice.json:
    post:
      operationId: getFinancialData
      summary: Get Financial Data
      description: Primary endpoint for retrieving financial and market intelligence data. Submit a JSON request body specifying the data set, entity identifiers, mnemonic fields, and time parameters to retrieve financial data.
      tags:
      - Financial Data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancialDataRequest'
      responses:
        '200':
          description: Financial data response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialDataResponse'
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - invalid or expired token
components:
  schemas:
    FinancialDataRequest:
      type: object
      required:
      - inputRequests
      properties:
        inputRequests:
          type: array
          items:
            type: object
            required:
            - function
            - identifier
            - mnemonic
            properties:
              function:
                type: string
                description: Data retrieval function (e.g., GDSP, GDST, GDSHE)
                example: GDSP
              identifier:
                type: string
                description: Company or security identifier (ticker, GVKEY, CUSIP, ISIN)
                example: IQ303931
              mnemonic:
                type: string
                description: Data point mnemonic code representing the specific financial metric
                example: IQ_TOTAL_REV
              properties:
                type: object
                description: Additional request properties such as date range and periodicity
                properties:
                  startDate:
                    type: string
                    description: Start date for time series (YYYY-MM-DD)
                  endDate:
                    type: string
                    description: End date for time series (YYYY-MM-DD)
                  periodType:
                    type: string
                    description: Period type (Annual, Quarterly, LTM, YTD)
    FinancialDataResponse:
      type: object
      properties:
        GDSSDKResponse:
          type: array
          items:
            type: object
            properties:
              Rows:
                type: array
                items:
                  type: object
                  properties:
                    Row:
                      type: array
                      items:
                        type: string
              Headers:
                type: array
                items:
                  type: object
                  properties:
                    Name:
                      type: string
              ErrMsg:
                type: string
              Type:
                type: string
              RequestId:
                type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token obtained from the /authenticate/api/v1/token endpoint
